@import url('https://fonts.googleapis.com/css2?family=Unica+One&family=Yeseva+One&display=swap');

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: whitesmoke;
  overflow: hidden;  
  color: #001029; 
}