.navbar-containter {    
    height: 100%;    
    width: 20%;  
    float: left;  
    position: fixed;    
    z-index: 1;    
    top: 0;
    left: 0;            
    background-color: #001029;    
    overflow-x: hidden;
    font-family: 'Yeseva One', cursive;
    color: rgb(248, 248, 248);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    padding-left: 16px;  
    padding-right: 8px;
    box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.5)
}

.navbar-links{
    
    display: flex;
    flex-direction: column;
}

.navbar-title-set {
    display: flex;
    flex-direction: row;  
}

.nav-item {    
    margin-top: 10px;
    margin-bottom: 10px;
    color: white
}

.nav-link {
    color: rgb(248, 248, 248);
    text-decoration: none;
}


.navbar-title {
    font-size: 1.5rem;
    padding: 0;
    margin-top: 10px;    
    text-decoration: none;
    color: rgb(248, 248, 248);
} 

.navbar-logo {    
    margin-top: 9px;
    margin-right: 5px;
    
}

ul {
    list-style: none;
    padding: 0;
}